@page
@model GreetingCardGenerator.Pages.User.SignUpModel
@{
    Layout = null;
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>


    <!-- Font Icon -->
    
    <link rel="stylesheet" href="~/colorlib-regform-7/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/colorlib-regform-7/css/style.css">
</head>
<body>

    
    <div class="main">
        <div style="font-weight:bolder; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align:center; font-size:56px; margin-top:-150px;">CREATE YOUR NEW ACCOUNT</div>
        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" asp-for="@Model.Member.USER_NAME" placeholder="Your Name" />
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" asp-for="@Model.Member.EMAIL" placeholder="Your Email" />
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" asp-for="@Model.Member.PASSWORD" placeholder="Password" />
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" asp-for="@Model.RepeatPassword" placeholder="Repeat your password" />
                            </div>
                            
                            <div class="form-group form-button">
                                <input type="submit" class="form-submit" value="Register" />
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="~/colorlib-regform-7/images/signup-image.jpg" alt="sing up image"></figure>
                        <a asp-page="./User/Login" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>

        @if(TempData["alertMessage"]!=null)
            {
                <div class="alert alert-danger">@TempData["alertMessage"]</div>
            }
    </div>


        <!-- JS -->
        <script src="~/colorlib-regform-7/vendor/jquery/jquery.min.js"></script>
        <script src="~/colorlib-regform-7/js/main.js"></script>
        
</body>
</html>